<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home" size="small" />
    </ion-tab-button>

    <ion-tab-button tab="categories" href="/tabs/categories">
      <ion-icon aria-hidden="true" name="grid" size="small" />
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search" size="small" />
    </ion-tab-button>

    <ion-tab-button tab="saved" href="/tabs/saved">
      <ion-icon aria-hidden="true" name="bookmark" size="small" />
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person" size="small" />
    </ion-tab-button>

    <ion-tab-button tab="new" href="/tabs/new">
      <ion-icon aria-hidden="true" name="create" size="small" />
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon aria-hidden="true" name="notifications" size="small" />
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>